
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Añade esto para que el cursor de rascado sea más claro */
.scratchcard-container {
  cursor: url('https://cdn-icons-png.flaticon.com/32/1077/1077035.png'), auto;
}
